<%- include('partials/page-header') -%>
            <div class="row">
                <form action="/users/login" method="POST">
                    <div class="input register-ui">
                        <p>log in</p> 
                        <div>    
                            <p>User ID</p>
                            <input type="text" class="comment-textarea" name="userID">
                            <p>Password</p>
                            <input type="password" class="comment-textarea" name="password">
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" value="Log in">
                    </div>
                </form>
            </div>

<%- include('partials/page-footer'); -%>